<footer class="footer bg-dark">
    <div class="container p-2 text-white">
        <div class="row">
            <div class="col-md-4">
                <span>Lorem</span>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint voluptas nemo tempora at quia ratione, ipsum sequi est culpa ducimus quidem optio, exercitationem minus similique unde repellendus sapiente asperiores cumque.</p>
                <a href="" target="_blank" rel="noopener noreferrer" class="text-decoration-none">click here</a>
            </div>
            <div class="col-md-4">
                <span>Helpful links</span>

                <ul class="list-unstyled text-muted">
                    <li>Admin</li>
                    <li>Archive</li>
                    <li>Support</li>
                </ul>
            </div>
            <div class="col-md-4">
                <span>Contact</span>
                <p>Location: Some where</p>
                <p>E-mail:</p><a href="mailto:admin@example.com" class="text-decoration-none">admin@example.com</a>
                <p>Phone number:</p><a href="tel:+000000000" class="text-decoration-none">+0000000000</a>
            </div>
        </div>
    </div>
</footer>